<div class="row">
    <div class="col-9">
        <h2 class="text-primary">COMPANY LIST</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-success form-control" asp-action="Upsert">
            <i class="fas fa-plus"></i>&nbsp;
            ADD COMPANY
        </a>
    </div>
</div>

<div class="container rounded border p-2 m-2">
    <table id="tblData" class="table table-active table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Phone Number</th>
                <th>Is Authorized</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
{
    <script src="~/js/Company.js"></script>
}