@model Ecommerce.Project._02.Models.CoverType
@{
    ViewData["Title"] = "Upsert";
    var title = Model.id != 0 ? "EDIT COVER TYPE" : "NEW COVER TYPE";
    // var saveUpdate = Model.id != 0 ? "UPDATE" : "SAVE";
}

<form method="post">
    <div class="col-10 border-bottom">
        <h2 class="text-primary">@title</h2>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-8">
        <div class="row form-group p-2 m-2">
            <div class="col-4">
                <label asp-for="Name" >Name</label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control"/>
                <spam asp-validation-for="Name" class="text-danger"></spam>
            </div>
        </div>

        <div class="row form-group p-2 m-2">
            <div class="col-8 offset-4">
                @* <button type="submit" class="btn btn-success form-control">
                    @saveUpdate
                </button>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-info form-control">
                    BACK
                </a> *@
            

        
                @if(Model.id != 0)
                {
                    <partial name="_EditAndBack" />
                }else{
                    <partial name="_CreateAndBack" />
                }
            </div>
        </div>
    </div>

</form>

@section scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

